<div class="container">

	<h1>API factory demo</h1>

	<button ng-click="getChanels()">Test CHANNELS API call (GET)</button>
	<button ng-click="getActivities()">Test ACTIVITIES API call(GET)</button>
	<div>
		<div ng-repeat="item in output">
			<p><strong>ID:</strong> {{item.id}} </p>
			<p><strong>Title:</strong> {{item.snippet.title}} </p>
			<br>
		</div>
	</div>

	<br>
	<br>

	<textarea ng-model="comment" id="" cols="30" rows="2"></textarea>
	<br>
	<button ng-click="postComment()">Test COMMENTS API call (POST)</button>

	<br>
	<br>

	<textarea ng-model="caption" id="" cols="30" rows="2"></textarea>
	<br>
	<button ng-click="updateCaption()">Test CAPTIONS API call (PUT)</button>

	<br>
	<br>

	<button ng-click="deletePlaylist()">Test PLAYLISTS API call (DELETE)</button>

</div>